@import '../../../content/scss/theme/themes';

nb-checkbox {
  margin-bottom: 1rem;
}

td .usrmanid {
  margin-left: 1.2rem;
  width: 90%;
}

th .usrmanid {
  width: 10px;
}

.user-group {
  width: 100%;
}

.form-inline [fullWidth] {
  flex: 1;
}

.form-inline > * {
  margin: 0 1.5rem 1.5rem 0;
}

nb-card.inline-form-card nb-card-body {
  padding-bottom: 0;
}

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }

  ng2-smart-table ::ng-deep {
    .ng2-smart-action-add-add {
      background-color: nb-theme(button-filled-primary-background-color);
      border-color: nb-theme(button-filled-primary-border-color);
      color: nb-theme(button-filled-primary-text-color);

      &:focus {
        border-color: nb-theme(button-filled-primary-focus-border-color);
      }

      &:hover {
        background-color: nb-theme(button-filled-primary-hover-background-color);
        border-color: nb-theme(button-filled-primary-hover-border-color);
      }

      &:active {
        background-color: nb-theme(button-filled-primary-active-background-color);
        border-color: nb-theme(button-filled-primary-active-border-color);
      }
    }

    nav.ng2-smart-pagination-nav .pagination li {
      a,
      > span {
        background-color: transparent;
        color: nb-theme(button-outline-primary-text-color);

        &:focus {
          border-color: nb-theme(button-outline-primary-focus-border-color);
          color: nb-theme(button-outline-primary-focus-text-color);
        }

        &:hover {
          border-color: nb-theme(button-outline-primary-hover-border-color);
          color: nb-theme(button-outline-primary-hover-text-color);
        }
      }
    }

    .ng2-smart-pagination .page-item.disabled {
      .page-link,
      .page-link:focus,
      .page-link:hover {
        background-color: transparent;
        color: nb-theme(button-outline-primary-disabled-text-color);
      }
    }
  }
}

nb-card {
  transform: translate3d(0, 0, 0);
}

button {
  height: 25px;
}

.btn.btn-sm,
.nb-theme-cosmic .btn-group-sm > .btn {
  padding: 0.2rem 0.5rem 0.5rem 0.5rem;
}
