<!--<nb-layout>-->
<!--    <jhi-page-ribbon></jhi-page-ribbon>-->
<!--    <nb-layout-header fixed>-->
<!--        <router-outlet name="navbar"></router-outlet>-->
<!--    </nb-layout-header>-->
<!--    <router-outlet></router-outlet>-->
<!--    <router-outlet name="popup"></router-outlet>-->
<!--</nb-layout>-->
<jhi-page-ribbon></jhi-page-ribbon>
<router-outlet></router-outlet>
<router-outlet name="popup"></router-outlet>
<!--<jhi-page-ribbon></jhi-page-ribbon>-->
<!--<div>-->
<!--    <router-outlet name="navbar"></router-outlet>-->
<!--</div>-->
<!--<div class="container-fluid">-->
<!--    <div class="card jh-card">-->
<!--        <router-outlet></router-outlet>-->
<!--        <router-outlet name="popup"></router-outlet>-->
<!--    </div>-->
<!--    <jhi-footer></jhi-footer>-->
<!--</div>-->
