<nav class="header-container navbar-dark navbar-expand-md jh-navbar"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">

    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
        <ul class="navbar-nav ml-auto">

            <!--<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">-->
            <!--<a class="nav-link" routerLink="/" (click)="collapseNavbar()">-->

            <!--<span jhiTranslate="global.menu.home" class="fa fa-home" aria-hidden="true">Home</span>-->
            <!--</a>-->
            <!--</li>-->

            <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->

            <li class="nav-item" (click)="logout()" id="logout" *ngSwitchCase="true">
<!--                <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i>-->
                <span>
                    <nb-action class="control-item" icon="nb-close-circled" aria-hidden="true"></nb-action>
                </span>
                <span jhiTranslate="global.menu.account.logout">Sign out</span>
            </li>

            <li class="nav-item" (click)="login()" id="login" *ngSwitchCase="false">
<!--                <i class="fa fa-fw fa-sign-in" aria-hidden="true"></i>-->
                <span>
                    <nb-action class="control-item" icon="nb-power" aria-hidden="true"></nb-action>
                </span>
                <span jhiTranslate="global.menu.account.login">Sign in</span>
            </li>

            <li ngbDropdown class="nav-item dropdown pointer" placement="bottom-right" *ngIf="languages">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown" *ngIf="languages.length > 1">
                    <span>
                        <nb-action class="control-item" icon="nb-location" aria-hidden="true"></nb-action>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu *ngIf="languages.length > 1">
                    <li *ngFor="let language of languages">
                        <a class="dropdown-item" [jhiActiveMenu]="language" href="javascript:void(0);" (click)="changeLanguage(language);collapseNavbar();"><i class="fa fa-flag" aria-hidden="true"></i>  {{language | findLanguageFromKey}}</a>
                    </li>
                </ul>
            </li>

            <div class="header-container" *ngSwitchCase="true">

                <nb-actions
                    size="medium"
                    [class.right]="position === 'normal'"
                    [class.left]="position === 'inverse'">
                    <nb-action *nbIsGranted="['view', 'account']" [ngSwitch]="isAuthenticated()">
                        <nb-user [nbContextMenu]="userMenu" [name]="account?.firstName" [picture]="account?.imageUrl">
                            <span class="menu-title">Hello</span>
                        </nb-user>
                    </nb-action>

                    <nb-action class="control-item">
                        <nb-search type="rotate-layout" (click)="startSearch()"></nb-search>
                    </nb-action>
                </nb-actions>
            </div>

<!--            <li ngbDropdown class="nav-item dropdown pointer" placement="bottom-right" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">-->
<!--                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">-->
<!--                    <span *ngIf="!getImageUrl()">-->
<!--                    &lt;!&ndash;<i class="fa fa-user" aria-hidden="true"></i>&ndash;&gt;-->
<!--                        <nb-action class="control-item" icon="nb-person" aria-hidden="true"></nb-action>-->
<!--                    </span>-->
<!--                    <span *ngIf="getImageUrl()">-->
<!--                      <img [src]="getImageUrl()" class="profile-image img-circle" alt="Avatar">-->
<!--                  </span>-->
<!--                </a>-->
<!--                <ul class="dropdown-menu" ngbDropdownMenu>-->
<!--                    <li *ngSwitchCase="true">-->
<!--                        <a class="dropdown-item" routerLink="settings" routerLinkActive="active" (click)="collapseNavbar()">-->
<!--                            <i class="fa fa-fw fa-wrench" aria-hidden="true"></i>-->
<!--                            <span jhiTranslate="global.menu.account.settings">Settings</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li *ngSwitchCase="true">-->
<!--                        <a class="dropdown-item" routerLink="password" routerLinkActive="active" (click)="collapseNavbar()">-->
<!--                            <i class="fa fa-fw fa-clock-o" aria-hidden="true"></i>-->
<!--                            <span jhiTranslate="global.menu.account.password">Password</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li *ngSwitchCase="true">-->
<!--                        <a class="dropdown-item" (click)="logout()" id="logout">-->
<!--                            <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i>-->
<!--                            <span jhiTranslate="global.menu.account.logout">Sign out</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li *ngSwitchCase="false">-->
<!--                        <a class="dropdown-item" (click)="login()" id="login">-->
<!--                            <i class="fa fa-fw fa-sign-in" aria-hidden="true"></i>-->
<!--                            <span jhiTranslate="global.menu.account.login">Sign in</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li *ngSwitchCase="false">-->
<!--                        <a class="dropdown-item" routerLink="register" routerLinkActive="active" (click)="collapseNavbar()">-->
<!--                            <i class="fa fa-fw fa-user-plus" aria-hidden="true"></i>-->
<!--                            <span jhiTranslate="global.menu.account.register">Register</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </li>-->
        </ul>
    </div>
</nav>
