<div class="row">
    <div class="col-md-12">
        <nb-card class="inline-form-card">
            <nb-card-header>
                <h2>
                    <span id="metrics-page-heading" jhiTranslate="metrics.title">Application Metrics</span>
                    <button class="btn btn-primary float-right" (click)="refresh()">
                        <fa-icon [icon]="'sync'"></fa-icon> <span jhiTranslate="metrics.refresh.button">Refresh</span>
                    </button>
                </h2>
            </nb-card-header>
        </nb-card>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <nb-card class="inline-form-card">
            <nb-card-header>
                <h3 jhiTranslate="metrics.jvm.title">JVM Metrics</h3>
            </nb-card-header>
        </nb-card>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <nb-card *ngIf="!updatingMetrics">
            <nb-card-body>
                <jhi-jvm-memory
                    class="col-md-4"
                    [updating]="updatingMetrics"
                    [jvmMemoryMetrics]="metrics.jvm">
                </jhi-jvm-memory>
            </nb-card-body>
        </nb-card>
    </div>

    <div class="col-md-4">
        <nb-card>
            <nb-card-body>
                <jhi-jvm-threads class="col-md-4" [threadData]="threadData"></jhi-jvm-threads>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-4">
        <nb-card>
            <nb-card-body>
                        <jhi-metrics-system
                            class="col-md-4"
                            [updating]="updatingMetrics"
                            [systemMetrics]="metrics.processMetrics">
                        </jhi-metrics-system>
            </nb-card-body>
        </nb-card>
    </div>
</div>
<!--            <div class="col-md-4">-->

<!--                    <nb-card>-->
<!--                        <jhi-jvm-threads class="col-md-4" [threadData]="threadData"></jhi-jvm-threads>-->
<!--                    </nb-card>-->

<!--            </div>-->

<!--            <div class="col-md-4">-->

<!--                    <nb-card>-->
<!--                        <jhi-metrics-system-->
<!--                            class="col-md-4"-->
<!--                            [updating]="updatingMetrics"-->
<!--                            [systemMetrics]="metrics.processMetrics">-->
<!--                        </jhi-metrics-system>-->
<!--                    </nb-card>-->

<!--            </div>-->


<div class="row">
    <div class="col-md-12" *ngIf="isObjectExisting(metrics, 'garbageCollector')">
        <nb-card class="inline-form-card">
                <nb-card-header>
                    <h3 jhiTranslate="metrics.jvm.gc.title">Garbage collector statistics</h3>
                </nb-card-header>
                <nb-card-body>
                    <ng2-smart-table>
                        <jhi-metrics-garbagecollector [updating]="updatingMetrics" [garbageCollectorMetrics]="metrics.garbageCollector"></jhi-metrics-garbagecollector>
                    </ng2-smart-table>
                </nb-card-body>
        </nb-card>
    </div>
</div>

    <div class="well well-lg" *ngIf="updatingMetrics" jhiTranslate="metrics.updating">Updating...</div>

<div class="row">
    <div class="col-md-12">
        <nb-card class="inline-form-card">
            <nb-card-body>
                <ng2-smart-table>
                    <jhi-metrics-request
                        *ngIf="isObjectExisting(metrics, 'http.server.requests')"
                        [updating]="updatingMetrics"
                        [requestMetrics]="metrics['http.server.requests']">
                    </jhi-metrics-request>
                </ng2-smart-table>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <nb-card class="inline-form-card">
            <nb-card-body>
                <ng2-smart-table>
                    <jhi-metrics-endpoints-requests
                        *ngIf="isObjectExisting(metrics, 'services')"
                        [updating]="updatingMetrics"
                        [endpointsRequestsMetrics]="metrics.services">
                    </jhi-metrics-endpoints-requests>
                </ng2-smart-table>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <nb-card class="inline-form-card">
            <nb-card-body>
                <ng2-smart-table>
                    <jhi-metrics-cache
                        *ngIf="isObjectExisting(metrics, 'cache')"
                        [updating]="updatingMetrics"
                        [cacheMetrics]="metrics.cache">
                    </jhi-metrics-cache>
                </ng2-smart-table>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <nb-card class="inline-form-card">
            <nb-card-body>
                <ng2-smart-table>
                    <jhi-metrics-datasource
                        *ngIf="isObjectExistingAndNotEmpty(metrics, 'databases')"
                        [updating]="updatingMetrics"
                        [datasourceMetrics]="metrics.databases">
                    </jhi-metrics-datasource>
                </ng2-smart-table>
            </nb-card-body>
        </nb-card>
    </div>
</div>
