<div class="row">
    <div class="col-md-12">
        <nb-card *ngIf="allConfiguration && configuration">
            <nb-card-header>
                <h2 id="configuration-page-heading" jhiTranslate="configuration.title">Configuration</h2>
            </nb-card-header>
            <nb-card-body>
                <span jhiTranslate="configuration.filter">Filter (by prefix)</span> <input type="text" [(ngModel)]="filter" class="form-control">
            </nb-card-body>
        </nb-card>
        <nb-card *ngIf="allConfiguration && configuration">
                <nb-card-header>
                    <h3>Spring configuration</h3>
                </nb-card-header>
                <nb-card-body>
                    <ng2-smart-table>
                        <thead>
                        <tr>
                            <th class="w-40" (click)="orderProp = 'prefix'; reverse=!reverse"><span jhiTranslate="configuration.table.prefix">Prefix</span></th>
                            <th class="w-60" (click)="orderProp = 'properties'; reverse=!reverse"><span jhiTranslate="configuration.table.properties">Properties</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let entry of (configuration | pureFilter:filter:'prefix' | orderBy:orderProp:reverse)">
                            <td><span>{{entry.prefix}}</span></td>
                            <td>
                                <div class="row" *ngFor="let key of keys(entry.properties)">
                                    <div class="col-md-4">{{key}}</div>
                                    <div class="col-md-8">
                                        <span class="float-right badge-secondary break">{{entry.properties[key] | json}}</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </ng2-smart-table>
                </nb-card-body>
        </nb-card>

        <nb-card *ngFor="let key of keys(allConfiguration)">
            <nb-card-header>
                <h4><span>{{key}}</span></h4>
            </nb-card-header>
            <nb-card-body>
                <ng2-smart-table>
                    <thead>
                    <tr>
                        <th class="w-40">Property</th>
                        <th class="w-60">Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of allConfiguration[key]">
                        <td class="break">{{item.key}}</td>
                        <td class="break">
                            <span class="float-right badge-secondary break">{{item.val}}</span>
                        </td>
                    </tr>
                    </tbody>
                </ng2-smart-table>
            </nb-card-body>
        </nb-card>
    </div>
</div>
