/* jhipster-needle-scss-add-main JHipster will add new css style */

.nb-theme-cosmic nb-search button {
  color: #00f9a6;
}

.nb-theme-cosmic nb-actions nb-action i.control-icon {
  color: #00f9a6;
  font-size: 1.5rem;
}
